<html>
{{>header}}
<body>
	<p>Please select your direction below</p>
	<h2>Route: {{routeSelected}}</h2>
	<h2>Directions</h2>
	<form method="get" action="/stops">
		{{#directions}}
		<select name="direction_selected">
			<option value='{{this.json}}'>{{this.name}}</option>
		</select>
                        <ul class="contain-stop">
			{{#stopsName}}
                              <li>{{name}}</li>
			{{/stopsName}}
                        </ul>
		{{/directions}}
		<button type="Submit" name="submitDirection" value="Submit">Submit Direction</button> 
	</form>
</body>
</html>
