<html>
{{>header}}
<body>
	<p>Please select your route below</p>
	<p>Serving LA area, specifically LA Metro</p>
	<form method="get" action="/direction">
		<select name="route_selected">
	{{#each route}}
			<option value={{this.route_number}}>{{this.route_name}}</option>
	{{/each}}
		</select>
		<button value="Submit">Submit</button> 
	</form>
</body>
</html>
