<html>
{{>header}}
<body>
	<h3>Your Route: {{routeSelected}}</h3>
	<h3>Your Direction: {{directionSelected}}</h3>
	<h3>Your Stop: {{stopSelected}}</h3>
	{{#each displayedTimes}}
	<h2>Minutes: {{this.minutes}}</h2>
	{{/each}}
</body>
</html>
