<html>
{{>header}}
<body>
	<h2>Your Route: {{routeSelected}}</h2>
	<h2>Your Direction: {{directionSelected}}</h2>
	<h2>Your Stop: {{stopSelected}}</h2>
	{{#each displayedTimes}}
	<p>Minutes: {{this.minutes}}</p>
	{{/each}}
</body>
</html>
