<html>
{{>header}}
<body>
	<p>Please select your stop below</p>
	<h2>Route: {{routeSelected}}</h2>
	<h2>Direction: {{directionSelected}} </h2>
	<h2>Stops</h2>
	<form method="get" action="/show-next-stops">
		<select name="stop_selected">
		{{#each stopsList}}
			<option value='{{this.json}}'>{{this.name}}</option>
		{{/each}}
		</select>
		<button type="Submit" name="submitStop" value="submitStop">Submit Stop</button> 
	</form>
</body>
</html>
