h1{
	color:cadetblue;
}
.container{
	text-align:center;
}
.contain-stop{
  display:flex;
  flex-direction: row;
  list-style-type:none;
  white-space:nowrap;
  width:80%;
  overflow:scroll;
  border:1pt solid black;
  height:40px;
  list-style-position:outside;
}

.contain-stop li:before{
  content:'\2192';
}
.contain-stop li{
  margin-right:8px;
}

button{
  font-size:16px
}
select{
  font-size:18px
}

button{
  border: solid green 3px;
  background-color:green;
  border-radius: 5px;
  color:white;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
